:root {
	--red: #d80000;
	--black: #161616;
	--violet: #5B3758;
	--gray: #C2B2B4;
  --white: #D8D8D8;
	--top: #CC9543;
}

html, body {
	background-color: var(--black);
	color: var(--black);
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

footer {
	background: transparent;
	display: flex;
	width: 60%;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	font-size: 16px;
	border-radius: 5px;
	color: var(--white);
}

footer a {
	text-decoration: none;
	color: var(--white);
}

footer a:hover {
	color: var(--red);
}

ul {
	width: 100%;
	list-style: none;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 0px;
	margin: 0px;
}

h1 {
	color: var(--white);
	margin: 0px;
	padding: 0px;
}

h2 {
	margin: 0px;
	padding: 0px;
	display: flex;
	margin-block: 0px;
	margin-inline: 0px;
}

form {
	margin: 0px;
	padding: 0px;
}

input {
	height: 32px;
	width: 75%;
}

form button {
	height: 32px;
	width: 20%;
	margin: 0px;
	padding: 0px;
}

.content {
	background-color: var(--gray);
	margin: 20px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	border: 1px solid black;
	border-radius: 10px;
	box-shadow: 1px 1px 3px var(--gray);
	box-sizing: border-box;
}

.game-area {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.score-area {
	align-self: flex-start;
	justify-self: center;
	display: flex;
	flex-direction: column;
	margin-top: 10px;
	width: 150px;
}

.score-area h2 {
	text-decoration: underline;
	align-self: center;
}

.tally {
	align-self: flex-start;
	justify-self: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
	font-size: 32px;
}

.action-select button {
	background-color: var(--violet);
	color: var(--white);
	margin: 15px;
	width: 100px;
	height: 100px;
	padding: 15px;
	border-radius: 5px;
	border: 1px solid black;
	font-size: 64px;
}

.action-select button:hover {
	background-color: var(--red);
	cursor: pointer;
}

.o-slash {
	color: var(--red);
}

.top {
	color: var(--top);
}